.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
body{
    font: 13px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    color: #333;
    background-color: #fff;
    min-width: 1226px;
}
.w{
    width: 1226px;
    margin: 0 auto;
}